
// fonts
$Roboto: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$RobotoCond: "RobotoCond";
$RobotoSlab: RobotoSlab, serif;

//colors
$crimson: #EF4357;
$babyblue: #43EFE8;

$docs-color: $crimson;