---
layout: docs
title: Styles
---

<div class="docs-side-nav show-for-large-up">
  <i class="fi-thumbnails"></i>
  <ul class="xsmall-24">
    <li>
      <a class="js-scroll-to" href="#color">Color</a>
    </li>
    <li>
      <a class="js-scroll-to" href="#color">Buttons</a>
    </li>
    <li>
      <a class="js-scroll-to" href="#color">Title</a>
    </li>
  </ul>
</div>

<div class="docs-page">

  <div id="color" class="docs__item xsmall-24">

    <div class="docs__item-desc xsmall-24 xlarge-8 column">
      <h2>Color</h2>
      <p>
        These are the colors beings used.
      </p>
    </div>

    <div class="docs__item-view xsmall-24 xlarge-16 column">
      <h2>Basic Colors</h2>
      <ul class="xsmall-block-grid-5">
        <li>
          <div class="color-swatch" style="background: #000000;">
          </div>
          <div class="color-swatch-desc">
            black <br><strong>#000000</strong>
          </div>
        </li>
        <li>
          <div class="color-swatch" style="background: #333333;">
          </div>
          <div class="color-swatch-desc">
            oil <br><strong>#333333</strong>
          </div>
        </li>
        <li>
          <div class="color-swatch" style="background: #666666;">
          </div>
          <div class="color-swatch-desc">
            steel <br><strong>#666666</strong>
          </div>
        </li>
        <li>
          <div class="color-swatch" style="background: #dddddd;">
          </div>
          <div class="color-swatch-desc">
            gainsboro <br><strong>#dddddd</strong>
          </div>
        </li>
        <li>
          <div class="color-swatch" style="background: #ffffff;">
          </div>
          <div class="color-swatch-desc">
            white <br><strong>#ffffff</strong>
          </div>
        </li>
      </ul>
    </div>

  </div>

  <div id="buttons" class="docs__item xsmall-24">
    <div class="docs__item-desc xsmall-24 xlarge-8 column">
      <h2>Buttons</h2>
      <p>
        These are the buttons beings used.
      </p>
    </div>
    <div class="docs__item-view xsmall-24 xlarge-16 column">
      <div class="row">
        <a class="button button--xsmall" href="#!">button--xsmall</a>
        <a class="button button--small" href="#!">button--small</a>
        <a class="button" href="#!">button</a>
        <a class="button button--large" href="#!">button--large</a>
      </div>
      <div class="row">
        <a class="button is-smooth" href="#!">is-smooth</a>
        <a class="button is-round" href="#!">is-round</a>
        <a class="button button--filled" href="#!">is-round</a>
        <a class="button button--color" href="#!">is-round</a>
        <a class="button button--color button--filled" href="#!">is-round</a>
      </div>
    </div>
  </div>

  <div id="" class="docs__item xsmall-24">
    <div class="docs__item-desc xsmall-24 xlarge-8 column">
      <h2>Title</h2>
      <p>
        Desc
      </p>
    </div>
    <div class="docs__item-view xsmall-24 xlarge-16 column">
    </div>
  </div>

</div>