<ul class="docs-nav">
  <li>
    <a href="/">
      <i class="fi-home"></i>
    </a>
  </li>
  <li>
    <a href="styles.html">
      Styles
    </a>
  </li>
  <li>
    <a href="elements.html">
      Elements
    </a>
  </li>
</ul>