<ul class="docs-nav">
  <li>
    <a href="index.html" class="{{#is title 'Docs'}}is-active{{/is}}">
      <i class="fi-home"></i>
    </a>
  </li>
  <li>
    <a href="styles.html" class="{{#is title 'Styles'}}is-active{{/is}}">
      Styles
    </a>
  </li>
  <li>
    <a href="elements.html" class="{{#is title 'Elements'}}is-active{{/is}}">
      Elements
    </a>
  </li>
</ul>